ul.nav.nav-pills
  if (page == 'logged in')
    li(class=(menu == 'home' || menu == 'spider' )?'active':'')
      a(href='/home/#{user.username}') Home
    if (menu == 'spider')
      li
        a(href='/home/#{user.username}/spider-rules') Rules
    else 
      li(class='dropdown')
        a.dropdown-toggle(href='#', data-toggle="dropdown") Games
          ul.dropdown-menu
            a(href='/home/#{user.username}/spider') Spider Solitaire

    li
      a(href='/home/#{user.username}/logout') Logout
  else
    li(class=(menu == 'index' || menu == 'create')?'active':'')
      a(href='/index') Home
    li(class=(menu == 'login')?'active':'')
      a(href='/login') Log In