if (menu == 'spider')
  link(rel="stylesheet", href="/css/spider.css")
  script(src='/js/require.min.js')
  script(src='/js/requireConfig.js')
  script(src='/js/spider.js')
else if (menu == 'snake')
  link(rel='stylesheet', href="/css/snake.css")
  script(src='/js/require.min.js')
  script(src='/js/requireConfig.js')
  script(src='/js/snake.js')
else
  link(rel="stylesheet", href="/css/grid.css")
  script(type="text/javascript", src="/js/require.min.js")
  script(type='text/javascript', src="/js/requireConfig.js")
  script(type="text/javascript", src="/js/defaultMenu.js")
  script(type="text/javascript", src="/js/jquery.min.js")

