if (menu == 'spider')
  link(rel="stylesheet", href="/css/spider.css")
  script(src='/js/require.min.js')
  script(src='/js/requireConfig.js')
  script(src='/js/spider.js')
else
  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/bootstrap.min.js")
