script(src='/js/require.min.js')
script(src='/js/requireConfig.js')
if (menu == 'rules')
  script(src='/js/svgElement.js')
else if (menu == 'spider')
  script(src='/js/spider.js')
  link(rel='stylesheet', href='/css/spider.css')
else if (menu == 'snake')
  script(src='/js/snake.js')
  link(rel='stylesheet', href='/css/snake.css')
else if (menu == 'home')
  script(src='/js/twitter.js')
else if (menu == 'search')
  script(src='/js/svgElement.js')
else if (menu == 'profile')
  script(src='/js/svgElement.js')
else if (menu == 'login')
  script(src='/js/svgElement.js')
else if (menu == 'index')
  script(src='/js/defaultMenu.js')
else
  script(src='/js/svgElement.js')





