extend layout
block page
- var menu = 'create'
block gameboard
  div.row
    div.col-1
      div#create
        div#createForm
          h2.message Create Account
          form(action='/create', method='POST')
            p
              input(name="email", type="text", placeholder="Email")
            p
              input(name="username", type="text", placeholder="Username")
            p
              input(name="password", type="password", placeholder="*******")
            p
              button.btn.default.message(type="submit") Create
        p.error= error