extend layout
block page
  - var menu = 'home'
  - var page = 'logged in'
block gameboard
  div.gameboard(id="#{user.username}")
  div.row
    div.col-8
      p.message Page update in progress. While you're waiting, you can enjoy a friendly game of Snake or Solitaire. 
block javascript
  include includes/scripts