extend layout
block page
  - var menu = 'index'
block gameboard
  p.message#Top Join in on the fun with your favorite classic games!
  div.row#spacer
    p.message.indent Spider Solitaire 
    img#home.indent(src='/img/spider_snap.jpg')  
  div.row#spacer
    p.message.indent Snake
    img#home.indent(src='/img/snake_snap.jpg')
