doctype html
html
  head
    title= appTitle
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/bootstrap-theme.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet" href="/css/jquery-ui.css")
    link(rel="stylesheet", href="/css/jquery-ui.theme.min.css")    
  body
    img(src="/img/black.jpg", id="poker")
    block page
  h2= appTitle
  div
    include includes/menu
  block gameboard
  block javascript
    include includes/scripts
