extend layout
block page
  - var menu = 'login'
block gameboard
  div.row
    div.col-1
      div#signIn
        div#signInForm 
          h2.message Sign in
            form(action='/login', method='POST')
              p
                input.form-control(name='email', type='text', placeholder='Email')
              p 
                input.form-control(name='password', type='password', placeholder='********')
              p  
                button.btn.default.message(type='submit') Log In
        p.error#login= error
        p.message#login Don't have an account? Create an account 
          a#link(href="/create") here
        p.message#login Alternatively, you can login with a guest account 
          a#link(href='/guest') here               
  div.row
    div.col-6

       