extend layout
block page
  - var menu = 'snake'
  - var page = 'logged in'
block gameboard
  div.gameboard(id='#{user.username}')
    div.row
      div.col-8
        input#x(placeholder='Board Width')
        input#y(placeholder='Board Height')
        button.btn.default.message#Create Create Grid
        button.btn.default.message#Play Start Game
    div.row
      div.col-5
        div.error
    div.values
      div.row
        div.col-6#Stats
          div.row
            div.col-7#tiles
              div.row
                div#spacer(class="cell easy")
                  p(class='identifier') = Easy
              div.row
                div#spacer(class="cell medium")
                  p(class='identifier') = Medium
              div.row 
                div#spacer(class="cell hard")
                  p(class='identifier') = Hard   
            div.col-4
              div.row
                p#Score Current Score :
                p.message#score
              div.row
                p#Level Current Level :
                p.message#level      
  div#container
    div#game
