extend layout
block page
  - var page = 'logged in'
  - var menu = 'snake'
block gameboard
  p.message#rule-heading Rules
  div#rules
    p.message 1) Fill in the two fields to determine the size of the board. 
    p.message 2) There is no maximum board size. It is entirely dependent on your maximum resolution. 
    p.message 3) Game speed will increase as your snake grows longer. 
    p.message 4) Easy/medium/hard tiles increase the snake length by 1/2/3 respectively
    p.message 5) Change direction with the up/down/left/right arrows
    p.message 6) Have fun and good luck!
block javascript
  include includes/scripts