extend layout
block page
  - var menu = 'snake'
  - var page = 'logged in'
block gameboard
  div.gameboard(id='#{user.username}')
    div.row
      input#x(placeholder='Board Width')
      input#y(placeholder='Board Height')
      button.btn.btn-sm.btn-danger#Create Create Grid
      button.btn.btn-sm.btn-primary#Play Start Game
    div.values
      div.row
        div.col-md-4#Stats
          div.row
            div.col-lg-2
              p#Score Current Score :
              p.message#score
          div.row
            div.col-lg-2
              p#Level Current Level :
              p.message#level      
        div.col-md-1#tiles
          div(class="cell easy indent")
            p(class='identifier') = Easy
          div(class="cell medium indent")
            p(class='identifier') = Medium 
          div(class="cell hard indent")
            p(class='identifier') = Hard
        div.col-lg-4               

  div#container
    div#game
