doctype html
html
  head
    script(src='/js/jasmine.js')
    script(src='/js/jasmine-html.js')
    script(src='/js/boot.js')
    script(src='/js/jquery-2.1.1.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/js/underscore.js')
    script(src='/js/helpers.js')
    link(rel='stylesheet', href='/css/jasmine.css')
    script(src='/js/custom.js')
    script(src='/js/jasmine_spec.js')
    img(src='/img/jasmine_favicon.png')
  title Jasmine Spec Runner v2.1.3

