extend layout
block page
  - var page = 'logged in'
  - var menu = 'spider'
block gameboard
  div.gameboard(id='#{user.username}')
    div#setup
      div.row#initial
        button.btn#new-game New Game
        button.btn#load-game Load Game
      div.row#difficulty
        button.btn#easy Easy
        button.btn#medium Medium
        button.btn#hard Hard
    div#other
      div.row#cheating
        button.btn.btn-lg.btn-danger#cheat Cheat
        button.btn.btn-lg.btn-primary#save Save
    div#loading-area
      p
        form
          input#game(type='text', placeholder='New/Saved Game Slot')
    div.error= error
    div#move-count
      div.row
        div#stats.col-3
          p#moves Move Count :
          p.count
          p#current_score Score :
          p.score
        div#high_scores.col-5
          p#Top.message Top Scores
          div.row#main_selector
            button.btn.active#Personal
              a(href='#') Personal
            button.btn.default#Global
              a(href='#') Global
          div.row#sub_selector
            button.btn.active#Easy
              a(href='#') Easy
            button.btn.default#Medium
              a(href='#') Medium
            button.btn.default#Hard
              a(href='#') Hard
        div#data
    br
    div#game-container
      div#deck
      div#bottomDeck
      div#finishedStacks.container-fluid
       div#stack1
          img#1(src='/img/Spider/finished.gif')
       div#stack2
          img#2(src='/img/Spider/finished.gif')

        div#stack3
          img#1(src='/img/Spider/finished.gif')
        div#stack4
          img#2(src='/img/Spider/finished.gif')

        div#stack5
          img#1(src='/img/Spider/finished.gif')
        div#stack6
          img#2(src='/img/Spider/finished.gif')

        div#stack7
          img#1(src='/img/Spider/finished.gif')
        div#stack8
          img#2(src='/img/Spider/finished.gif')

