extend layout
block page
  - var page = 'logged in'
  - var menu = 'spider'
block gameboard
  div.gameboard(id='#{user.username}')
    div.container-fluid#setup
      div.row#initial
        button.btn.btn-lg.btn-info#new-game New Game
        button.btn.btn-lg.btn-info#load-game Load Game
      div.row#difficulty
        button.btn.btn-lg.btn-info#easy Easy
        button.btn.btn-lg.btn-info#medium Medium
        button.btn.btn-lg.btn-info#hard Hard
    div.container-fluid#other
      div.row#cheating
        button.btn.btn-lg.btn-danger#cheat Cheat
        button.btn.btn-lg.btn-primary#save Save
    div.container-fluid#loading-area
      p
        form
          input.form-control#game(type='text', placeholder='New/Saved Game Slot')
    div.error= error
    div#game-container
      div#deck
      img.dealer(src="/img/Spider/Dealer.jpg")
      div#bottomDeck
      div#finishedStacks.container-fluid
        div.row
         div#stack1
            img#1(src='/img/Spider/finished.gif')
         div#stack2
            img#2(src='/img/Spider/finished.gif')
        div.row
          div#stack3
            img#1(src='/img/Spider/finished.gif')
          div#stack4
            img#2(src='/img/Spider/finished.gif')
        div.row
          div#stack5
            img#1(src='/img/Spider/finished.gif')
          div#stack6
            img#2(src='/img/Spider/finished.gif')        
        div.row
          div#stack7
            img#1(src='/img/Spider/finished.gif')
          div#stack8
            img#2(src='/img/Spider/finished.gif')        
block javascript
  script(src="/js/jquery-ui.min.js")
  script(src="/js/underscore.js")
  script(src="/js/helpers.js")
  script(src='/js/main.js')
  script(src='/js/partial.js')
  script(src="/js/spider.js")
