@media(min-width:1000px) {
.col-1, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12, .col-13, .col-14, .col-15,
.col-16, .col-17, .col-18, .col-19, .col-20 {
	min-height : 1px;
	position : relative;
	float : left;
}

.opp-1, .opp-2, .opp-3, .opp-4, .opp-5, .opp-6, .opp-7, .opp-8, .opp-9, .opp-10 {
	float : right;
	margin-left : 2px;
	margin-right : 2px;
}

.opp-1 {
	width : 5%;
}

.opp-2 {
	width : 10%;
}

.opp-3 {
	width : 15%;
}

.opp-4 {
	width : 20%;
}

.opp-5 {
	width : 25%;
}

.opp-6 {
	width : 30%;
}

.opp-7 {
	width : 35%;
}

.opp-8 {
	width : 40%;
}

.opp-9 {
	width : 45%;
}

.opp-10 {
	width : 50%;
}

.offset-1 {
	left : 5%;
}

.offset-2 {
	left : 10%;
}

.offset-3 {
	left : 15%;
}

.offset-4 {
	left : 20%;
}

.offset-5 {
	left : 25%;
}

.offset-6 {
	left : 30%;
}

.offset-7 {
	left : 35%;
}

.offset-8 {
	left : 40%;
}

.offset-9 {
	left : 45%;
}

.offset-10 {
	left : 50%;
}

.row {
	width : 100%;
	position : relative;
	display : inline-block;

}
.col-1 {
	width : 5%;
}

.col-2 {
	width : 10%;
}

.col-3 {
	width : 15%;
}

.col-4 {
	width : 20%;
}

.col-5 {
	width : 25%;
}

.col-6 {
	width : 30%;
}

.col-7 {
	width : 35%;
}

.col-8 {
	width : 40%;
}

.col-9 {
	width : 45%;
}

.col-10 {
	width : 50%;
}

.col-11 {
	width : 55%;
}
.col-12 {
	width : 60%;
}
.col-13 {
	width : 65%;
}
.col-14 {
	width : 70%;
}
.col-15 {
	width : 75%;
}
.col-16 {
	width : 80%;
}
.col-17 {
	width : 85%;
}
.col-18 {
	width : 90%;
}
.col-19 {
	width : 95%;
}
.col-20 {
	width : 100%;
}

.btn {
	height : 40px;
	width : auto;
	border-radius : 1em;
	cursor : pointer;
}

.default {
	background-image : linear-gradient(to right, #000000, #F6CECE);
}

.active {
	background-image : linear-gradient(to right, #08088A, #A9A9F5);
	color : white;
	border-radius : 2em;
	outline : none;
}

a:visited, a:hover, a:link, a:active {
	text-decoration : none;
	color : white;
}

.hide {
	display : none;
}