#hello {
  	position:fixed;
  	bottom: 100px;
}

.dealer {
  	position: fixed;
  	left: 400px;
    top: 200px;
  	z-index:100;
}

#board {
  	position:fixed;
  	top: 375px;
}

#deck>img {
  	position: fixed;
  	top: 350px;
  	left: 550px;
  	width:71px;
  	height:96px;
  	overflow:hidden;
  }

  #deck {
    position: relative;
  }

  .ui-draggable {
    position: relative;
  }
  


 .fake {
 	display:none;
 }

 #hiding {
 	position: fixed;
 	left: 305px;
 	top: 540px;
 }

 #bottomDeck>img {
 	position: fixed;
 	top: 100px;
 	left: 803px;
 	width: 71px;
 	height: 96px;
  overflow: hidden;
 }

 #finishedStacks {
  position: fixed;
  top: 280px;
  left: 0px;
 }

 #difficulty>button {
  display : none;
 }

 #cheating>button {
  display : none;
 }

