 #game {
 	width : 235px;
 }

#game-container {
	position : relative;
	top : 0px;
	left : 0px;
	height : 1000px;
}

#deck {
	position : relative;
	left : 300px;
	top : 100px;
}

#deck>img {
  	position : absolute;
  	width:71px;
  	height:96px;
  	overflow:hidden;
}

#bottomDeck {
	position : absolute;
	left : 300px;
	top : 100px;
}

#bottomDeck>img {
	position : absolute;
	width : 71px;
	height : 96px;
	overflow : hidden;
}

#stack1 {
	position : absolute;
	left : 0px;
	top : 0px;
}

#stack1>img {
	position : absolute;
	overflow : hidden;
}

#stack2 {
	position : absolute;
	left : 71px;
	top : 0px;
}

#stack2>img {
	position : absolute;
	overflow : hidden;
}

#stack3 {
	position : absolute;
	top : 100px;
	left : 0px;
}

#stack3>img {
	position : absolute;
	overflow : hidden;
}

#stack4 {
	position : absolute;
	left : 71px;
	top : 100px;
}

#stack4>img{
	position : absolute;
	overflow : hidden;
}

#stack5 {
	position : absolute;
	left : 0px;
	top : 200px;
}

#stack5>img {
	position : absolute;
	overflow : hidden;
}

#stack6 {
	position : absolute;
	left : 71px;
	top : 200px;
}

#stack6>img {
	position : absolute;
	overflow : hidden;
}

#stack7 {
	position : absolute;
	left : 0px;
	top : 300px;
}

#stack7>img {
	position : absolute;
	overflow : hidden;
}

#stack8 {
	position : absolute;
	left : 71px;
	top : 300px;
}

#stack8>img {
	position : absolute;
	overflow : hidden;
}

.moves {
	color : #0101DF;
	font-size : 13pt;
	display : none;
	font-weight : bold;
}

.count {
	color : #01DF01;
	font-size : 20pt;
}

.current_score {
	color : #0101DF;
	font-size : 13pt;
	display : none;
	font-weight : bold;
}

.score {
	color : #01DF01;
	font-size : 20pt;
}

#move-count {
	width : 800px;
}

#Top{
	font-family: "Arial Black", Gadget;
	font-size : 20px;
	text-align : left;	
}

td, th {
	border : 3px solid green;
	padding : 5px 10px;
	color : #FFFFFF;
}

td {
	font-size : 15px;
	font-family: "Arial Black", Gadget;
}

#setup button {
	position : relative;
	z-index : 5;
	color : #FFFFFF;
	margin : 5px 5px;
	-webkit-box-shadow : 2px 3px 3px #2E9AFE;
	box-shadow : 2px 3px 3px #2E9AFE;
}

#other button {
	position : relative;
	z-index : 5;
	color : #FFFFFF;
	margin : 5px 5px;
	-webkit-box-shadow : 2px 3px 3px #00FF00;
	box-shadow : 2px 3px 3px #00FF00;
	outline : none;
}

 #difficulty>button {
  display : none;
  outline : none;
 }

 button#cheat {
  display : none;
  -webkit-box-shadow : 2px 3px 3px #FE2E2E;
  box-shadow : 2px 3px 3px #FE2E2E;
 }

 button#save{
 	display : none;
 	-webkit-box-shadow : 2px 3px 3px #084B8A;
 	box-shadow : 2px 3px 3px #084B8A;
 }

table {
	position : relative;
	z-index : 5;
}

form {
	position : relative;
	z-index : 5;
}

ul>li {
	margin : 5px 5px;
}

button:hover {
	opacity : .2;
}