#game-container {
	position : relative;
	top : 0px;
	left : 0px;
}

.dealer {
  	position: absolute;
  	left: 250px;
    top: 0px;
  	z-index:100;
}

#stack1>img {
	position : absolute;
	left : 0px;
	top : 0px;
	overflow : hidden;
}

#stack2>img {
	position : absolute;
	left : 75px;
	top : 0px;
	overflow : hidden;
}

#stack3>img {
	position : absolute;
	left : 0px;
	top : 100px;
	overflow : hidden;
}

#stack4>img {
	position : absolute;
	left : 75px;
	top : 100px;
	overflow : hidden;
}

#stack5>img {
	position : absolute;
	left : 0px;
	top : 200px;
	overflow : hidden;
}

#stack6>img {
	position : absolute;
	left : 75px;
	top : 200px;
	overflow : hidden;
}

#stack7>img {
	position : absolute;
	left : 0px;
	top : 300px;
	overflow : hidden;
}

#stack8>img {
	position : absolute;
	left : 75px;
	top : 300px;
	overflow : hidden;
}

#deck {
	position : absolute;
	left : 300px;
	top : 100px;
}

#deck>img {
  	position : absolute;
  	width:71px;
  	height:96px;
  	overflow:hidden;
  }

#hiding {
	position : absolute;
	top : 350px;
	width : 100%;
}

#bottomDeck {
	position : absolute;
	left : 300px;
	top : 100px;
}

#bottomDeck>img {
	position : absolute;
	width : 71px;
	height : 96px;
	overflow : hidden;
}

 #difficulty>button {
  display : none;
 }

 #cheating>button {
  display : none;
 }


