.error {
	color : #FF0000;
}

.message {
	position : relative;
	z-index : 5;
	color : #FFFFFF;
}

#poker {
	position : fixed;
	left : 0px;
	top : 0px;
	z-index : 0;
	height : auto;
	width : 100%;
}

ul>li {
	margin : 5px 5px;
}

/*ul>li>a:hover {
	opacity : .2;
}*/

ul>li>a:hover {
	opacity : .2;
}



#Spider:hover {
	background : black;
	font-weight : bold;
	color : white;
	opacity : 1;
}

#Snake:hover {
	background : black;
	font-weight : bold;
	color : white;
	opacity : 1;
}

button:hover {
	opacity : .2;
}

.link {
	color : red;
}

.dropdown-menu {
	opacity : .8;
}

#rules {
	position : relative;
	margin-left : 30px;
	top : 40px;
}

#rule-heading {
	position : relative;
	margin-left : 10px;
	top : 30px;
	font-style : italic;
	font-size : 30px;
	font-weight : bold;
}

#stats {
	display : none;
}

#high_scores {
	margin-left : 20px;
}

#Stats {
	display : none;
}

#tiles{
	display : none;
}