.error {
	color : #FF0000;
	z-index : 5;
}

.message {
	position : relative;
	z-index : 5;
	color : #FFFFFF;
}

#poker {
	position : fixed;
	left : 0px;
	top : 0px;
	z-index : 0;
	height : 100%;
	width : 100%;
}

ul>li {

	fill : url(#grad1);
}

/*ul>li>a:hover {
	opacity : .2;
}*/

/*ul>li>a:hover {
	opacity : .2;
}
*/


button:hover {
	opacity : .2;
}

#link {
	color : red;
}

.dropdown-menu {
	opacity : .8;
}

#rules {
	position : relative;
	margin-left : 30px;
	top : 40px;
}

#rule-heading {
	position : relative;
	margin-left : 10px;
	top : 30px;
	font-style : italic;
	font-size : 30px;
	font-weight : bold;
}

#stats {
	display : none;
}

#high_scores {
	margin-left : 20px;
}

#tiles{
	display : none;
}

#home {
	position : relative;
	z-index : 5;
}

.indent {
	position : relative;
	left : 20px;
	margin-bottom : 10px;
}

#Top{
	font-family: "Arial Black", Gadget;
	font-size : 18px;
	text-align : center;
	margin-top : -5px;	
}

#spacer {
	margin-top : 20px;
}

#SVG {
	position : absolute;
	width : 100%;
	height : 100%;
	margin-top:-20px;
}

#b {
	background-color: linear-gradient(right, #088A08, #3ADF00);
}

.menu {
	position : absolute;
	left : 175px;
	z-index : 10;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  position : relative;
  top : -10px;

}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin : 5px 5px;
  margin-right: 4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 1s;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 55px;
  left: 0;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#signIn, #create {
	position : relative;
	left : 35px;
	display : inline-block;
	width : 400px;
	height : 340px;
	background-color : #151515;
	opacity : .5;
	margin-top: 8px;
}

#create { 
	height : 300px;
	width : 340px;
}

#signInForm, #createForm{
	display : block;
	width : 200px;
	height : 220px;
	border-radius : 2px;
	background-color : black;
	margin-top : 10px;
	margin-left : 20px;
	border-style : solid;
	border-color : #848484;
}

#createForm {
	height : 240px;
}
#login {
	text-align : left;
	margin-left : 15px;
}

#Spider:hover {
	background : black;
	font-weight : bold;
}

#hovered:hover {
	background-color : black;
	font-weight : bold;
}

#links:hover {
	color : green;
	font-weight: bold;
}